{% extends "index.html" %}

{% block content1 %}
<link rel="stylesheet" type="text/css" href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style2.css") }}'>
{% endblock %}
{% block content2 %}
	<div id="black">
		<input id="LK" value="BrightF" type="button" onclick="location.href='{{ url_for('main') }}'" />
		<input id="LK1" value="Выйти" type="button" onclick="location.href='{{ url_for('logout') }}'" />
		<input id="LK3" value="Редактировать" type="button" onclick="location.href='{{ url_for('setting') }}'" />
		<input id="LK4" value="Фотогалерея" type="button" onclick="location.href='{{ url_for('gallery') }}'" />
	</div>
    <div id="menu1">
	<div id="prof">
	<img id="icon" src='{{ url_for("static", filename=fname ) }}' alt="Профиль" height="180" width="180" align="center">
   <div id="prof2">
		<div id="nameI" class="name1">{{name}}</div>
		<div class="name1">{{email}}</div>
	</div>
   </div>
	</div>
   <div id="menu2">
	<div id="block2">
	   <h3>
		<div class="block"><div class="label">Имя</div><div class="name">{{login}}</div></div>
		   <div class="block"><div class="label">Фамилия</div><div class="name">{{fullname}}</div></div>
	   </h3>
		</div>
    </div>
{% endblock %}