{% extends "index.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style2.css") }}'>
    </head>
    <body>
	<div id="black">
		<input id="LK" value="Назад" type="button" onclick="location.href='{{ url_for('main') }}'" />
		<input id="LK1" value="Выйти из АК" type="button" onclick="location.href='{{ url_for('logout') }}'" />
	</div>
	<h1 id="title">Профиль</h1>
	<br>
	<p><img src='{{ url_for("static", filename=fname ) }}' alt="Профиль" height="180" width="180" align="center"></p>
	<h3>
	<div class="label">Логин</div><div class="name">{{name}}</div>
	<div class="label">Имя</div><div class="name">{{login}}</div>
	<div class="label">Фамилия</div><div class="name">{{fullname}}</div>
	<div class="label">Email</div><div class="name">{{email}}</div>
	</h3>
	<center><input id="LK3" value="Редактировать" type="button" onclick="location.href='{{ url_for('setting') }}'" /></center>

{% endblock %}