{% extends "index.html" %}

{% block content1 %}
<link rel="stylesheet" type="text/css" href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/style3.css") }}'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}
{% block content2 %}
    <div id="black">
		<input id="LK" value="Назад" type="button" onclick="location.href='{{ url_for('profile') }}'" />
	</div>
	<div id="Center3">
	<form id="Center2" action="" method="post" novalidate enctype="multipart/form-data">
	<br><br>
	<div id="box">
		{{form.hidden_tag() }}

		<div class="block">
		<div class="label">
	{{form.login.label}}
	    </div>
		<div class="input">
	{{form.login}}<br>
		</div>
		</div>

	<div class="block">

			<div class="label">
	{{form.fullname.label}}
	    </div>
		<div class="input">
	{{form.fullname}}<br>
		</div>
	</div>
	<div class="block">
		<div class="label">
	{{form.email.label}}
	    </div>
		<div class="input">
	{{form.email}}<br>
		</div>
		{% for error in form.email.errors %}
	<center><div class="alert alert-danger" role="alert" align="center">
	{{ error }}
	</div></center>
	{% endfor %}
	</div>
	<div class="block">
		<div class="label">
	{{form.username.label}}
	    </div>
		<div class="input">
	{{form.username}}<br>
		</div>
		{% for error in form.username.errors %}
	<center><div class="alert alert-danger" role="alert" align="center">
	{{ error }}
	</div></center>
	{% endfor %}
	</div>
	<div class="block">
		<div class="label">
	{{ form.password.label }}
	    </div>
		<div class="input">
	{{ form.password }}
		</div>
	</div>
		<div id="block3">
	<h3 id="upload">Картинка профиля</h3>
<div class="example-3">
  <label for="custom-file-upload" class="filupp">
    <span class="filupp-file-name js-value">Загрузить файл</span>
    {{ form.file_object(value="1",id="custom-file-upload") }}
  </label>
</div>
		</div>
        <br>
		<br>
		</div>
		<br><br>
		{{ form.submit(id="izm") }}</div></p>
	</form></div>

{% endblock %}